<form name="createBackupPolicyForm">
    <div class="modal-header">
        <h4 class="modal-title">Restore Partition Backup</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Backup Id</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupId">
            </dd>
            <dt>Backup Location</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupLocation">
            </dd>
            <dt>Restore Timeout (in Min)</dt>
            <dd>
                <input type="number" class="input-flat" ng-model="action.RestoreTimeout" />
            </dd>

        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="partitionBackupConfigurationInfo.raw && partitionBackupConfigurationInfo.raw.PolicyName">
            <dt>Storage Details</dt>
            <dd>
                <label>
                    <input type="radio" ng-model="action.option" value="Default">
                    Use from policy
                </label>
                <label>
                    <input type="radio" ng-model="action.option" value="Custom">
                    Custom storage
                </label><br />
            </dd>
        </dl>

        <dl class="dl-horizontal collapse" uib-collapse="action.option!=='Custom'">
            <dt>Storage Kind</dt>
            <dd>
                <label>
                    <input type="radio" ng-model="action.storage.StorageKind" value="AzureBlobStore">
                    Azure Blob Store
                </label>
                <label>
                    <input type="radio" ng-model="action.storage.StorageKind" value="FileShare">
                    File Share
                </label><br />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.storage.StorageKind || action.storage.StorageKind!=='AzureBlobStore'">
            <dt>Friendly Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.FriendlyName">
            </dd>
            <dt>Connection String</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.ConnectionString">
            </dd>
            <dt>Container Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.ContainerName">
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.storage.StorageKind || action.storage.StorageKind!=='FileShare'">
            <dt>Friendly Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.FriendlyName">
            </dd>
            <dt>Path</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.Path">
            </dd>
            <dt>Primary User Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.PrimaryUserName">
            </dd>
            <dt>Primary Password</dt>
            <dd>
                <input type="password" class="input-flat" ng-model="action.storage.PrimaryPassword">
            </dd>
            <dt>Secondary User Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.storage.SecondaryUserName">
            </dd>
            <dt>Secondary Password</dt>
            <dd>
                <input type="password" class="input-flat" ng-model="action.storage.SecondaryPassword">
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="createBackupPolicyForm.$invalid" ng-click="ok()">Restore Partition Backup</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</form>